.test{
    border:2px solid red
}


.ellipse2{
    position: absolute;
    width: 828px;
    height: 828px;
    left: 501px;
    top: 77px;
    
    background: rgba(120, 121, 241, 0.26);
    box-shadow: 0px 0px 92px -39px rgba(0, 0, 0, 0.25);
    border-radius: 600px;

z-index: 3;
}

.ellipse1{
position: absolute;
width: 418px;
height: 418px;
left: 700px;
top: 282px;
background: rgba(165, 166, 246, 0.26);
box-shadow: 0px 0px 92px -39px rgba(0, 0, 0, 0.25);
border-radius: 300px;
z-index: 4;
}
.ellipse3{

    position: absolute;
    width: 1276px;
    height: 1170px;
    left: 289px;
    top: -147px;
    background: rgba(103, 104, 241, 0.25);
    box-shadow: 0px 0px 92px -39px rgba(0, 0, 0, 0.25);
    border-radius: 800px;
z-index: 2;
}

.rectangle1{
position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;
background: #5D5FEF;
z-index: 1;
}
.rectangle2{
    position: absolute;
width: 543px;
height: 1024px;
left: 897px;
top: 0px;

background: #1C1D21;
z-index: 5;
}

.desc{
    position: absolute;
width: 230px;
height: 96px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 48px;

color: #FFFFFF;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 296px;
    height: 360px;
    left: 80px;
    top: 208px;
}

.form{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 292px;
height: 240px;
margin-top: 120px;
}
.username{
padding: 0px;
gap: 8px;
width: 292px;
height: 80px;
display: flex;
flex-direction: column;
}
.password{
padding: 0px;
gap: 8px;
width: 292px;
height: 80px;
display: flex;
flex-direction: column;
margin-top: 5px;
}

.button{
padding: 0px;
gap: 8px;
width: 292px;
height: 48px;
margin-top: 10px;
}

.credential-text{

width: 74px;
height: 24px;



font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 24px;


letter-spacing: -0.01em;
color: #B3B3B3;
}

.input-field{
    height: 48px; width:285px ;border-radius: 12px ; background-color: #1C1D21; border: 2px solid white  ; color:white;outline: none;

}

.btn{
    background: #B2BAFF;
border-radius: 12px; width:100%; height:100%; color:white;
}

.banner{
 display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 148px;

position: absolute;
width: 436px;
height: 514px;
left: 120px;
top: 80px;
z-index: 5;
}

.banner1{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 436px;
height: 287px;
}

.txt1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
width: 154px;
height: 27px;

color: #FFFFFF;
}
.txt2{
    width: 436px;
height: 96px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 48px;

color: #FFFFFF;
}

.txt3{
    width: 196px;
height: 27px;


font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;


color: #FFFFFF;
}

.banner2{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 414px;
height: 47px;

}
.bubble{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

border: 1px solid #FFFFFF;
border-radius: 50px;
}

.bubble-txt{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #FFFFFF;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
 
}

.list-title{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1139px;
    height: 40px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.title-font{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;


text-decoration-line: underline;



color: #363A3D;
}

.page-style{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 1132px;
height: 314px;
left: 80px;
top: 80px;
}

.page-style2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 1px;

width: 1139px;
height: 250px;
}
.page-style3{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 1132px;
height: 38px;
}

.page-style3-1{
    display: flex;
flex-direction: row;
align-items: flex-start;

padding: 10px 8px;
gap: 8px;

width: 106px;
height: 37px;

opacity: 0.6;
}

.page-style3-2{
    display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-end;
padding: 5px 8px;

width: 395px;
height: 24px;
gap:5px
}

.some-text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;


display: flex;
align-items: center;
justify-content: center;



color: #B3B3B3;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #E6E6E6;
  }
  
  tr:nth-child(even) {
    background-color: #E6E6E6;
    height: 61px;

  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
    height: 61px;
  }

  input::placeholder {
    opacity: 0.5;
    background: #f2f2f2 url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg') no-repeat 10px;
    
}

/* input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f2f2f2 url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png') no-repeat 10px center;
    background-size: 20px 20px;
    padding-left: 40px;
  } */

.button-new{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 65.86px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2);
    background: #6776FF;
    border-radius: 4px 0px 0px 4px;
}